<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Hello, Spring!</title>
	</head>
	<body>
		<form method="post">
			<input type="text" name="name">Enter a name</input><br/>
			
		
			<input type="radio" name="language" value="English" checked="true">English</input><br/>
			<input type="radio" name="language" value="Finnish">Finnish</input><br/>
			<input type="radio" name="language" value="Icelandic">Icelandic</input><br/>
			<input type="radio" name="language" value="Welsh">Welsh</input><br/>
			<button type="submit">Enter</button>
		</form>
	</body>
</html>