<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">


    <head th:fragment="head">
        <title>blog.base</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link th:href="@{/css/normalize.css}" rel="stylesheet"/>
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
	    <script th:src="@{/js/script.js}"></script>
    </head>
    <body>
    	<div th:fragment="footer">
        <nav>

            <ul>
                <li><h1><a href="/">blog.base</a></h1></li>
                <li><h1>|</h1></li>
                <li><a href="/">home</a></li>
                <li><a href="/blog">all posts</a></li>
                <li><a href="/blog/newpost">new post</a></li>
            </ul>
        </nav>

       

        <nav>
            <ul>
                <li><a href="/login">login</a></li>
                <li>|</li>
                <li><a href="/logout">logout</a></li>
            </ul>
        </nav>
        </div>
    </body>
</html>
